<div class="p-4 pb-6">
  <div class="flex flex-col gap-y-2 items-center pb-4">
    <img
      class="h-auto rounded-full w-16"
      src="assets/images/account.png"
      alt="User image"
    />
    <span class="text-lg font-bold leading-8">
      {{ user?.fullname | titlecase }}
    </span>
    <span
      class="rounded-full bg-green-200 py-1 px-2 text-xs font-medium text-green-700"
    >
      En linea
    </span>
  </div>

  <mat-action-list>
    <button mat-list-item routerLink="/home/settings">
      <mat-icon matListItemIcon>manage_accounts</mat-icon>
      <div matListItemTitle>Configuracciones</div>
    </button>
    <mat-divider></mat-divider>
    <button mat-list-item routerLink="home" (click)="logout()">
      <mat-icon matListItemIcon>logout</mat-icon>
      <div matListItemTitle>Cerrar sesion</div>
    </button>
  </mat-action-list>
</div>
