<h2 mat-dialog-title>{{ data ? "Editar" : "Crear" }} Dependencia</h2>
<mat-dialog-content>
  <form [formGroup]="FormDependency" class="flex flex-col">
    @if(FormDependency.get('institucion')){
    <simple-select-search
      [placeholder]="'Seleccione una institucion'"
      [elements]="institutions()"
      (onSelect)="selectInstitution($event)"
    />
    }
    <div class="flex gap-x-2 py-2">
      <div class="w-3/4">
        <mat-form-field>
          <mat-label>Nombre de la dependencia</mat-label>
          <input formControlName="nombre" matInput />
        </mat-form-field>
      </div>
      <div class="w-1/4">
        <mat-form-field>
          <mat-label>Codigo</mat-label>
          <input formControlName="codigo" matInput />
        </mat-form-field>
      </div>
    </div>
    <div class="flex justify-between py-2 px-3">
      <span class="text-lg">Areas: ({{ requeriments.length }})</span>
      <button
        mat-icon-button
        (click)="addRequirement()"
        [disabled]="requeriments.length === 6"
      >
        <mat-icon>add</mat-icon>
      </button>
    </div>

    <div
      formArrayName="areas"
      class="overflow-y-scroll max-h-64 p-2 overflow-x-hidden border-2 border-gray-300 rounded-lg"
    >
      <div *ngFor="let control of requeriments.controls; let i = index">
        <div class="flex gap-x-2 items-center" [formGroupName]="i">
          <div class="flex-1">
            <mat-form-field>
              <mat-label>Area {{ i + 1 }}</mat-label>
              <input matInput placeholder="Nombre" formControlName="name" />
            </mat-form-field>
          </div>
          <div class="w-36">
            <mat-form-field>
              <mat-label>Codigo</mat-label>
              <input matInput type="number"  min="1" max="100"  formControlName="code" />
            </mat-form-field>
          </div>
          <div class="h-12">
            <button mat-icon-button (click)="removeRequirement(i)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </div>
      @if(requeriments.length === 0){
      <div class="p-2">Sin areas registradas</div>
      }
    </div>
    <!-- <mat-checkbox formControlName="activo"> Habilitado </mat-checkbox> -->
  </form>
</mat-dialog-content>
<div mat-dialog-actions align="end">
  <button mat-button color="warn" mat-dialog-close>Cancelar</button>
  <button
    mat-button
    color="primary"
    [disabled]="FormDependency.invalid"
    (click)="save()"
  >
    Guardar
  </button>
</div>
