<mat-toolbar>
  <button mat-icon-button backButton>
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span class="ml-4">Configuraciones</span>
</mat-toolbar>
<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" dynamicHeight>
  <mat-tab label="Usuario">
    <div class="mx-auto max-w-4xl py-4">
      <div class="px-4 sm:px-0">
        <h3 class="text-base/7 font-semibold">Configuracion del usuario</h3>
        <p class="mt-1 max-w-2xl text-sm/6">Cambie su datos de acceso</p>
      </div>
      <div class="mt-6 border-t border-gray-200">
        <form [formGroup]="formUser">
          <dl class="divide-y divide-gray-200">
            <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
              <dt class="text-sm/6 font-medium">Nombre</dt>
              <dd class="mt-1 text-sm/6 sm:col-span-2 sm:mt-0">
                {{ user()?.fullname | titlecase }}
              </dd>
            </div>
            <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
              <dt class="text-sm/6 font-medium">Contraseña</dt>
              <dd class="mt-1 sm:col-span-2 sm:mt-0 space-y-4 sm:max-w-[500px]">
                <mat-form-field appearance="outline">
                  <mat-label>Nueva contraseña</mat-label>
                  <input
                    matInput
                    formControlName="password"
                    value="Ingrese su nueva contraseña"
                    [type]="hidePassword() ? 'password' : 'text'"
                  />
                  <button
                    mat-icon-button
                    matSuffix
                    (click)="toggleHidePassword()"
                    [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hidePassword()"
                  >
                    <mat-icon>{{
                      hidePassword() ? "visibility_off" : "visibility"
                    }}</mat-icon>
                  </button>
                  @if (formUser.get('password')?.hasError) {
                  <mat-error>
                    {{ formUser.get("password")?.errors | formErrorMessages:errorMessages?.['password'] }}
                  </mat-error>
                  }
                </mat-form-field>
                @if ( formUser.get("password")?.value) {
                <mat-form-field appearance="outline">
                  <mat-label>Confirmar contraseña</mat-label>
                  <input
                    matInput
                    formControlName="confirmPassword"
                    value="Ingrese su nueva contraseña"
                    [type]="hideConfirmPassword() ? 'password' : 'text'"
                  />
                  <button
                    mat-icon-button
                    matSuffix
                    (click)="toggleHideConfirmPassword()"
                    [attr.aria-label]="'Hide confirm password'"
                    [attr.aria-pressed]="hideConfirmPassword()"
                  >
                    <mat-icon>
                      {{
                        hideConfirmPassword() ? "visibility_off" : "visibility"
                      }}
                    </mat-icon>
                  </button>
                  @if (formUser.get('confirmPassword')?.hasError) {
                  <mat-error>
                    {{  formUser.get("confirmPassword")?.errors | formErrorMessages:errorMessages?.['confirmPassword'] }}
                  </mat-error>
                  }
                </mat-form-field>
                }
              </dd>
            </div>
          </dl>
        </form>
      </div>
      @if(isAlertShowing()){
      <!-- <div class="py-4">
        <alert-message
          severity="success"
          title="Cambios guardados"
          [life]="3000"
          (close)="isAlertShowing.set(false)"
        />
      </div> -->
      }
      <button
        mat-flat-button
        [disabled]="formUser.invalid"
        (click)="updatePassword()"
      >
        Guardar
      </button>
    </div>
  </mat-tab>
  <mat-tab label="Personalizacion">
    <div class="mx-auto max-w-4xl py-4">
      <div class="px-4 sm:px-0">
        <h3 class="text-base/7 font-semibold">Configuracion de estilo</h3>
        <div class="mt-1 max-w-2xl text-sm/6">
          Cambie el color y el tema de la aplicacion
        </div>
      </div>
      <div class="mt-6 border-t border-gray-200">
        <dl class="divide-y divide-gray-200">
          <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
            <dt class="text-sm/6 font-medium">Tema principal</dt>
            <dd class="mt-1 text-sm/6 sm:col-span-2 sm:mt-0">
              <mat-button-toggle-group
                aria-label="Theme switcher"
                [(ngModel)]="background"
                (change)="changeTheme()"
              >
                <mat-button-toggle value="light">
                  <mat-icon>light_mode</mat-icon>
                </mat-button-toggle>
                <mat-button-toggle value="dark">
                  <mat-icon>dark_mode</mat-icon>
                </mat-button-toggle>
              </mat-button-toggle-group>
            </dd>
          </div>
          <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
            <dt class="text-sm/6 font-medium">Color de elementos</dt>
            <dd class="mt-1 text-sm/6 sm:col-span-2 sm:mt-0">
              <mat-form-field class="max-w-64" appearance="outline">
                <mat-label>Seleccione un color </mat-label>
                <mat-select
                  [(ngModel)]="color"
                  (selectionChange)="changeTheme()"
                >
                  @for (theme of themes; track $index) {
                  <mat-option [value]="theme.value">
                    <div class="flex items-center gap-x-4">
                      <span
                        class="inline-block rounded-full h-[24px] w-[24px]"
                        [style.background-color]="theme.code"
                      ></span>
                      <span>{{ theme.label }}</span>
                    </div>
                  </mat-option>
                  }
                </mat-select>
              </mat-form-field>
            </dd>
          </div>
        </dl>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
