<mat-toolbar>
  <button mat-icon-button backButton>
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span class="ml-4">Detalle</span>
  <span class="flex-1"></span>
</mat-toolbar>
<div class="px-6 mb-4">
  @if (communication()) {
  <mat-card appearance="outlined">
    <mat-card-header>
      <img mat-card-avatar src="images/icons/account.png" />
      <mat-card-title>
        {{ communication()?.sender?.fullname | titlecase }}
      </mat-card-title>
      <mat-card-subtitle>
        {{ communication()?.sender?.jobtitle }}
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p class="py-4 text-sm">
        Enviado el {{ communication()?.sentDate | date : "short" }}
      </p>
      <p>Instruccion / Proveido: {{ communication()?.reference }}</p>
    </mat-card-content>
  </mat-card>
  }
  <div class="border border-slate-300 rounded-xl mt-2">
    @if(!isLoading()){
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
      <mat-tab label="Descripcion">
        @switch (communication()?.procedure?.group) { @case
        ("ExternalProcedure") {
        <external-communication [procedure]="external!" />
        } @case ("InternalProcedure") {
        <internal-communication [procedure]="internal" />
        } @case ("ProcurementProcedure") {
        <procurement-communication [procedure]="procedure()" [isReveived]="true" />
        } @default {
        <p>Type Procedure is not define</p>
        } }
      </mat-tab>
      <mat-tab label="Flujo de trabajo"> </mat-tab>
      <mat-tab label="Flujo de trabajo grafico">
        <workflow-graph [workflow]="workflow()" />
      </mat-tab>
    </mat-tab-group>
    }
  </div>
</div>
