<!-- @if (workflow().length>0) {
<div class="areachart-wrapper dark">
  <ngx-graph
    class="chart-container"
    [zoomLevel]="1"
    [links]="graph().links"
    [nodes]="graph().nodes"
    [clusters]="clusters"
    [animate]="false"
    layout="dagreCluster"
    [showMiniMap]="true"
    [showMiniMap]="true"
    [draggingEnabled]="false"
    [curve]="curve"
    [miniMapPosition]="minimapPosition"
    [miniMapMaxWidth]="300"
    [autoZoom]="true"
    [autoCenter]="true"
  >
    <ng-template #defsTemplate>
      <svg:marker
        id="arrow"
        viewBox="0 -5 10 10"
        refX="8"
        refY="0"
        markerWidth="4"
        markerHeight="4"
        orient="auto"
      >
        <svg:path d="M0,-5L10,0L0,5" class="arrow-head" />
      </svg:marker>
    </ng-template>
    <ng-template #clusterTemplate let-cluster>
      <svg:g class="node cluster">
        <text x="100" y="25" alignment-baseline="central">
          {{ cluster.label }}
        </text>
        <svg:rect
          rx="5"
          ry="5"
          class="rect"
          [attr.width]="cluster.dimension.width"
          [attr.height]="cluster.dimension.height"
          [attr.fill]="cluster.data.color"
        />
      </svg:g>
    </ng-template>
    <ng-template #nodeTemplate let-node>
      <svg:g class="node">
        <svg:foreignObject width="500" height="100">
          <xhtml:div class="cardContainer">
            <mat-card class="example-card">
              <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>
                  {{ node.data.fullname | titlecase }}
                </mat-card-title>
                <mat-card-subtitle>
                  {{ node.data.jobtitle ? node.data.jobtitle : "Sin cargo" }}
                </mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <button #mybtn (click)="ope(mybtn)" class="s">sii</button>
                <p style="font-size: 12px">
                  <strong>Dependencia: </strong>{{ node.data.dependencia }}
                </p>
              </mat-card-content>
            </mat-card>
          </xhtml:div>
        </svg:foreignObject>
      </svg:g>
    </ng-template>
    <ng-template #linkTemplate let-link>
      <svg:g class="edge">
        <svg:path
          class="line"
          [ngClass]="[link.data.classLink]"
          stroke-width="3.5"
          marker-end="url(#arrow)"
        ></svg:path>
        <svg:g
          [matTooltip]="link.data.status"
          matTooltipClass="tooltip"
          [ngClass]="[link.data.classEdge]"
          *ngIf="link.midPoint"
          [attr.transform]="
            'translate(' + link.midPoint.x + ',' + link.midPoint.y + ')'
          "
        >
          <circle r="15" stroke-width="1" />
          <text fill="white" stroke-width="0" x="-5" y="5">
            {{ link.label }}
          </text>
        </svg:g>
      </svg:g>
    </ng-template>
  </ngx-graph>
</div>
} -->
