<div class="row">
  @if(enableOptions()){
  <div class="col-12">
    <mat-form-field appearance="outline" (click)="isFocused = true">
      <input
        matInput
        placeholder="Agrega una observacion"
        (blur)="(!isFocused)"
        [formControl]="descripcion"
      />
    </mat-form-field>
  </div>
  @if (isFocused) {
  <div class="col-12 d-flex justify-content-end">
    <button mat-button (click)="removeFocus()">Cancelar</button>
    <button
      mat-button
      color="primary"
      (click)="add()"
      [disabled]="descripcion.invalid"
    >
      Observar
    </button>
  </div>
  } }

  <div class="col-12 mt-3">
    <mat-list>
      <!-- @for (obs of observations(); track obs._id) {
      <mat-list-item>
        <mat-icon matListItemIcon>person</mat-icon>
        <div matListItemTitle>
          {{ obs.fullnameOfficer }}
          <span
            class="badge"
            style="margin-left: 10px"
            [ngClass]="obs.isSolved ? 'bg-success' : 'bg-danger'"
          >
            {{ obs.isSolved ? "RESUELTO" : "PENDIENTE" }}
          </span>
        </div>
        <div matListItemLine>{{ obs.description }}</div>
        <div matListItemLine>{{ obs.date | date : "short" }}</div>
        @if(manager === obs.account && !obs.isSolved){
        <button matListItemMeta mat-icon-button (click)="solve(obs._id)">
          <mat-icon>build</mat-icon>
        </button>
        }
      </mat-list-item>
      } @empty {
      <mat-list-item>
        <div matListItemTitle>SIN OBSERVACIONES</div>
      </mat-list-item>
      } -->
    </mat-list>
  </div>
</div>
