<mat-toolbar>
  <button mat-icon-button (click)="backLocation()" matTooltip="Regresar">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span class="ms-3">Detalle</span>
</mat-toolbar>
<div class="container-fluid animate__animated animate__fadeInLeft">
  @if(mail()){
  <div class="header">
    <mail [(mail)]="mail" (mailChange)="handleAction()" />
  </div>
  <div class="content">
    @switch (mail()!.procedure.group) { 
      @case ('ExternalDetail') {
        <!-- <external-detail [id]="mail()!.procedure._id" [enableOptions]="true" (onStateChange)="handleState($event)"/> -->
      } 
      @case ('InternalDetail') {
        <!-- <internal-detail [id]="mail()!.procedure._id" /> -->
      } 
      @default {
        <p>Type procedure is note defined</p>
      }
    }
  </div>
   } 
   @else {
  <mat-card class="p-4">
    <div class="row placeholder-glow">
      <div class="col-1">
        <span
          style="height: 45px; width: 45px"
          class="placeholder mb-3 col-12 placeholder-lg rounded-circle"
        ></span>
      </div>
      <div class="col-11 mb-2">
        <span class="placeholder mb-3 col-7 placeholder-lg rounded"></span>
        <span class="placeholder mb-3 col-6 placeholder-lg rounded"></span>
      </div>
      <span class="placeholder col-11 placeholder-lg rounded mb-3"></span>
      <span class="placeholder col-6 placeholder-lg rounded mb-3"></span>
      <span class="placeholder col-7 placeholder-lg rounded mb-3"></span>
    </div>
  </mat-card>
  }
</div>
