<mat-toolbar>
  <span>Publicaciones</span>
  <span class="flex-1"></span>
  <button mat-icon-button aria-label="Create post" (click)="create()">
    <mat-icon>add</mat-icon>
  </button>
</mat-toolbar>
<!-- 
<div class="p-3">
  <table mat-table [dataSource]="datasource()" class="mat-elevation-z8">
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>Titulo</th>
      <td mat-cell *matCellDef="let element">{{ element.title }}</td>
    </ng-container>

    <ng-container matColumnDef="priority">
      <th mat-header-cell *matHeaderCellDef>Prioridad</th>
      <td mat-cell *matCellDef="let element">
        @switch (element.priority) { @case (0) {
        <span
          class="inline-flex items-center rounded-md bg-red-50 px-2 py-1 text-xs font-medium text-red-700 ring-1 ring-inset ring-red-600/10"
        >
          Baja
        </span>

        } @case (1) {
        <span
          class="inline-flex items-center rounded-md bg-blue-50 px-2 py-1 text-xs font-medium text-blue-700 ring-1 ring-inset ring-blue-700/10"
          >Media
        </span>

        } @case (2) {
        <span
          class="inline-flex items-center rounded-md bg-purple-50 px-2 py-1 text-xs font-medium text-purple-700 ring-1 ring-inset ring-purple-700/10"
          >Alta
        </span>
        } }
      </td>
    </ng-container>

    <ng-container matColumnDef="options">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element" class="w-8">
        <button mat-icon-button aria-label="Delete publication">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    <tr class="mat-row" *matNoDataRow>
      <td class="p-3" colspan="3">Sin resultados</td>
    </tr>
  </table>
</div> -->

<!-- <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
  <mat-card *ngFor="let pub of datasource()">
    <img mat-card-image [src]="'images/avatar.png'" alt="Imagen publicación" />
    <mat-card-title>{{ pub.title }}</mat-card-title>
    <mat-card-subtitle>{{ pub.createdAt | date : "short" }}</mat-card-subtitle>
  </mat-card>
</div> -->
<!-- 
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 p-4">
  <mat-card *ngFor="let publication of datasource()" class="shadow-lg">
    <img
      mat-card-image
      [src]="'images/avatar.png'"
      alt="{{ publication.title }}"
      class="object-cover h-48 w-full"
    />
    <mat-card-header>
      <mat-card-title>{{ publication.title }}</mat-card-title>
      <mat-card-subtitle>{{
        publication.createdAt | date : "shortDate"
      }}</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
</div> -->

<div class="p-2">
  <div class="space-y-2">
    @for (item of datasource(); track $index) {

    <div
      class="flex items-center gap-4 p-4 border border-gray-200 rounded-md hover:bg-gray-50"
    >
      <img [src]="'images/avatar.png'" class="w-16 h-16 object-cover rounded" />

      <div class="flex-1">
        <h3 class="font-semibold text-gray-800">Titulo</h3>
        <p class="text-sm text-gray-500">Fecha</p>
      </div>

      <div class="flex gap-2">
        <button mat-icon-button color="primary" (click)="update(item)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>

    }
  </div>
</div>

<!-- 
<mat-paginator
  [length]="totalPublications"
  [pageSize]="pageSize"
  [pageSizeOptions]="[5, 10, 20]"
  (page)="onPageChange($event)"
>
</mat-paginator> -->
