<h2 mat-dialog-title>{{ data ? "Editar" : "Crear" }} Cuenta</h2>
<mat-dialog-content>
  <mat-stepper orientation="vertical" [linear]="false" #stepper>
    <mat-step [stepControl]="accountForm" label="Detalles Cuenta">
      <form [formGroup]="accountForm" class="py-2">
        @if(accountForm.get('dependencyId')){
        <div class="mb-4">
          <select-search
            [required]="true"
            title="Institucion"
            [items]="institutions()"
            (onSelect)="selectedInstitution.set($event)"
          />
        </div>
        <div class="mb-4">
          <select-search
            title="Dependencia"
            [required]="true"
            [items]="dependencies.value() ?? []"
            (onSelect)="accountForm.get('dependencyId')?.setValue($event)"
          />
        </div>
        }
        <div class="mb-4">
          @if (selectedOfficer()) {
          <mat-form-field>
            <mat-label>Funcionario</mat-label>
            <input matInput [value]="selectedOfficer()?.fullName" readonly />
            <button matSuffix matIconButton (click)="unlink()">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
          } @else {
          <select-search
            title="Funcionario"
            [required]="!data"
            [autoFilter]="false"
            [items]="officers()"
            (onTyped)="searchOfficer($event)"
            (onSelect)="onSelectOfficer($event)"
          />
          }
        </div>
        <mat-form-field>
          <mat-label>Cargo</mat-label>
          <input
            matInput
            formControlName="jobtitle"
            placeholder="Ingrese el cargo"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Tipo de contrato</mat-label>
          <mat-select formControlName="employmentType">
            @for (item of employmentTypes; track $index) {
            <mat-option [value]="item">
              {{ item }}
            </mat-option>
            }
          </mat-select>
        </mat-form-field>

        <mat-checkbox formControlName="isVisible"> Visible </mat-checkbox>
        <div class="flex justify-end">
          <button mat-button matStepperNext>Siguiente</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="userForm" label="Detalles Usuario">
      <form [formGroup]="userForm" class="py-2">
        <div class="grid grid-cols-2 gap-3">
          <div>
            <mat-form-field>
              <mat-label>Login</mat-label>
              <input
                formControlName="login"
                matInput
                placeholder="Ingrese el login"
              />
            </mat-form-field>
          </div>
          <div>
            <select-search
              title="Rol"
              [required]="true"
              [value]="userForm.get('role')?.value"
              [items]="roles()"
              (onSelect)="userForm.get('role')?.setValue($event)"
            />
          </div>
          <mat-checkbox formControlName="isActive"> Habilitado </mat-checkbox>
        </div>
        <div class="flex justify-end">
          <button mat-button matStepperPrevious>Atras</button>
        </div>
      </form>
    </mat-step>
  </mat-stepper>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button color="warn" mat-dialog-close>Cancelar</button>
  <button mat-button color="primary" (click)="save()" [disabled]="!isFormValid">
    Guardar
  </button>
</mat-dialog-actions>
