<mat-toolbar>
  <span>Funcionarios</span>
  <span class="flex-1"></span>
  <button mat-icon-button (click)="create()">
    <mat-icon>add</mat-icon>
  </button>
</mat-toolbar>
<div class="p-2 sm:p-4">
  <div class="flex justify-end mb-2">
    <div class="w-full sm:w-1/4 h-[54px]">
      <search-input
        (onSearch)="search($event)"
        placeholder="Nombres / Numero CI."
      />
    </div>
  </div>

  <table mat-table [dataSource]="dataSource()">
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef>Nombre</th>
      <td mat-cell *matCellDef="let element">
        {{ element.fullname | titlecase }}
      </td>
    </ng-container>

    <ng-container matColumnDef="dni">
      <th mat-header-cell *matHeaderCellDef>CI</th>
      <td mat-cell *matCellDef="let element">{{ element.dni }}</td>
    </ng-container>

    <ng-container matColumnDef="telefono">
      <th mat-header-cell *matHeaderCellDef>Telefono</th>
      <td mat-cell *matCellDef="let element">{{ element.telefono }}</td>
    </ng-container>

    <ng-container matColumnDef="activo">
      <th mat-header-cell *matHeaderCellDef>Estado</th>
      <td mat-cell *matCellDef="let element" class="w-32">
         <span
          class="inline-flex items-center rounded-md px-2 py-1 text-xs font-medium ring-1 ring-inset"
          [ngClass]="
            element.activo
              ? 'bg-green-100 text-green-800 ring-green-600/20'
              : 'bg-red-100 text-red-700 ring-red-600/10'
          "
        >
          {{ element.activo ? "Activo" : "Inactivo" }}
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="options">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element" class="w-8">
        <button (click)="update(element)" mat-icon-button>
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell p-3" colspan="5">No se encontraron resultados</td>
    </tr>
  </table>
  <mat-paginator
    showFirstLastButtons
    [length]="dataSize()"
    [pageIndex]="index()"
    [pageSize]="limit()"
    (page)="onPageChange($event)"
  />
</div>
