<div class="animate-fadeIn">
  <mat-toolbar>
    <span>Bandeja de salida</span>
    <span class="flex-1"></span>
    @if (selection.selected.length>0) {
    <button
      mat-icon-button
      aria-label="Cancel"
      matTooltip="Cancelar"
      (click)="cacelSelection()"
    >
      <mat-icon> delete</mat-icon>
    </button>
    }
    <button
      mat-icon-button
      aria-label="Filter"
      cdkOverlayOrigin
      #menuOverlay="cdkOverlayOrigin"
      matTooltip="Filtrar"
      (click)="isOpen = !isOpen"
    >
      <mat-icon>filter_alt</mat-icon>
    </button>
  </mat-toolbar>
  <ng-template
    cdkConnectedOverlay
    [cdkConnectedOverlayOrigin]="menuOverlay"
    [cdkConnectedOverlayOpen]="isOpen"
    (overlayOutsideClick)="isOpen = false"
  >
    <div class="overlay-menu mat-elevation-z8 px-2 py-3 sm:w-[450px]">
      <div class="flex flex-col">
        <div>
          <mat-form-field>
            <mat-label>Estado de envio</mat-label>
            <mat-select [(ngModel)]="status">
              @for (item of statusOptions; track $index) {
              <mat-option [value]="item.value">{{ item.label }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Tipo de documento</mat-label>
            <mat-select [(ngModel)]="isOriginal">
              @for (item of documentOptions; track $index) {
              <mat-option [value]="item.value">{{ item.label }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="flex justify-end gap-x-2 mt-2">
        <button mat-button (click)="reset()">Restablecer</button>
        <button mat-flat-button (click)="filter()">Buscar</button>
      </div>
    </div>
  </ng-template>

  <div class="flex justify-end py-2">
    <div class="w-full px-2 sm:w-1/4 h-11">
      <search-input
        (onSearch)="search($event)"
        placeholder="Proveido / Destinatario"
      />
    </div>
  </div>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="datasource()">
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef class="w-8">
          <mat-checkbox
            (change)="$event ? toggleAllRows() : null"
            [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()"
            [aria-label]="checkboxLabel()"
          />
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)"
            [aria-label]="checkboxLabel(row)"
          />
        </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element" class="w-8">
          @switch (element.status) { @case ('pending') {
          <mat-icon class="text-orange-400">outgoing_mail</mat-icon>
          } @case ('rejected') {
          <mat-icon class="text-red-500">warning</mat-icon>
          } @default { ? } }
        </td>
      </ng-container>

      <ng-container matColumnDef="code">
        <th mat-header-cell *matHeaderCellDef>Alterno</th>
        <td mat-cell *matCellDef="let element">{{ element.procedure.code }}</td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef>Documento</th>
        <td mat-cell *matCellDef="let element">
          {{ element.isOriginal ? "Original" : "Copia" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="reference">
        <th mat-header-cell *matHeaderCellDef>Proveido</th>
        <td mat-cell *matCellDef="let element">{{ element.reference }}</td>
      </ng-container>

      <ng-container matColumnDef="sentDate">
        <th mat-header-cell *matHeaderCellDef>Fecha envio</th>
        <td mat-cell *matCellDef="let element" class="w-36">
          {{ element.sentDate | date : "short" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="recipient">
        <th mat-header-cell *matHeaderCellDef>Destinatario</th>
        <td mat-cell *matCellDef="let element">
          <div class="flex flex-col gap-y-1">
            <div>Para: {{ element.recipient.fullname | titlecase }}</div>
            @if(element.actionLog){
            <div class="text-red-600">
              {{ element.actionLog.manager | titlecase }}:
              <span class="font-bold">
                {{ element.actionLog.description }}
              </span>
            </div>
            <div>Fecha: {{ element.actionLog.date | date : "short" }}</div>
            }
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="options">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element" class="w-8">
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button
              (click)="send(element)"
              mat-menu-item
            >
              <mat-icon>send</mat-icon>
              <span>Remitir</span>
            </button>
            <button (click)="cancelOne(element)" mat-menu-item>
              <mat-icon>delete</mat-icon>
              <span>Cancelar</span>
            </button>
          </mat-menu>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell p-3" colspan="8">Sin resultados</td>
      </tr>
    </table>
    <mat-paginator
      aria-label="Select page of users search results"
      showFirstLastButtons
      [length]="datasize()"
      [pageIndex]="index()"
      [pageSize]="10"
      (page)="onPageChange($event)"
    />
  </div>
</div>
