<h2 mat-dialog-title>{{ data ? "Edicion" : "Creacion" }} Tramite Interno</h2>
<mat-dialog-content>
  <form [formGroup]="formProcedure" class="pt-2">
    <select-search
      [items]="documents()"
      (onTyped)="searchDocuments($event)"
      [autoFilter]="false"
    />

    <mat-form-field>
      <mat-label>Referencia del tramite</mat-label>
      <textarea formControlName="reference" matInput></textarea>
    </mat-form-field>
    <div class="flex gap-x-2">
      <mat-form-field>
        <mat-label>Cite</mat-label>
        <input formControlName="cite" matInput />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Cantidad: Hojas / Anexos</mat-label>
        <input formControlName="numberOfDocuments" matInput />
      </mat-form-field>
    </div>
    <div formGroupName="emitter" class="flex gap-x-2">
      <div class="flex-1">
        <autocomplete
          title="Remitente"
          [items]="officers().emitter"
          [initialValue]="formProcedure.get('emitter.fullname')?.value"
          (onTyped)="searchAccounts('emitter', $event)"
          (onSelect)="selectAcount('emitter', $event)"
        />
      </div>
      <div class="flex-1">
        <mat-form-field>
          <mat-label>Cargo</mat-label>
          <input formControlName="jobtitle" matInput />
        </mat-form-field>
      </div>
    </div>
    <div formGroupName="receiver" class="flex gap-x-2">
      <div class="flex-1">
        <autocomplete
          title="Destinatario"
          [items]="officers().receiver"
          [initialValue]="formProcedure.get('receiver.fullname')?.value"
          (onTyped)="searchAccounts('receiver', $event)"
          (onSelect)="selectAcount('receiver', $event)"
        />
      </div>
      <div class="flex-1">
        <mat-form-field>
          <mat-label>Cargo</mat-label>
          <input formControlName="jobtitle" matInput />
        </mat-form-field>
      </div>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close color="warn">Cancelar</button>
  <button
    mat-button
    color="primary"
    [disabled]="formProcedure.invalid"
    (click)="save()"
  >
    Guardar
  </button>
</mat-dialog-actions>
