<div class="animate-fadeIn">
  <mat-toolbar>
    <span>Externos</span>
    <span class="flex-1"></span>
    <button mat-icon-button (click)="create()" matTooltip="Crear tramite">
      <mat-icon>add</mat-icon>
    </button>
  </mat-toolbar>

  <!-- <search-input
    placeholder="Alterno / Referencia / Solicitante"
    [initialValue]="term"
    (onSearch)="applyFilter($event)"
  /> -->

  <div class="mat-elevation-z8">
    <div class="table-container">
      <table mat-table [dataSource]="datasource()">
        <ng-container matColumnDef="code">
          <th mat-header-cell *matHeaderCellDef>Alterno</th>
          <td mat-cell *matCellDef="let row" [id]="row._id">
            <a [routerLink]="['../external', row._id]">
              {{ row.code }}
            </a>
          </td>
        </ng-container>
        <ng-container matColumnDef="reference">
          <th mat-header-cell *matHeaderCellDef>Referencia</th>
          <td mat-cell *matCellDef="let row">
            {{ row.reference }}
          </td>
        </ng-container>
        <ng-container matColumnDef="applicant">
          <th mat-header-cell *matHeaderCellDef>Solicitante</th>
          <td mat-cell *matCellDef="let row">
            <!-- {{ row.fullNameApplicant }} -->
          </td>
        </ng-container>
        <ng-container matColumnDef="state">
          <th mat-header-cell *matHeaderCellDef>Estado</th>
          <td mat-cell *matCellDef="let row">
            {{ row.state }}
          </td>
        </ng-container>
        <ng-container matColumnDef="startDate">
          <th mat-header-cell *matHeaderCellDef>Fecha</th>
          <td mat-cell *matCellDef="let row">
            <!-- {{ row.createdAt | date : "short" : "-400" }} -->
          </td>
        </ng-container>
        <ng-container matColumnDef="send">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let row">
            <!-- <mat-icon
              [ngStyle]="row.isSend ? { color: 'green' } : { color: 'red' }"
              >{{ row.isSend ? "mark_email_read" : "unsubscribe" }}</mat-icon
            > -->
          </td>
        </ng-container>
        <ng-container matColumnDef="options">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let row" class="w-8">
            <button
              mat-icon-button
              [matMenuTriggerFor]="menu"
              aria-label="Options menu"
            >
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button
                mat-menu-item
                [disabled]="!row.isEditable"
                (click)="update(row)"
              >
                <mat-icon>edit</mat-icon>
                <span>Editar tramite</span>
              </button>
              <button mat-menu-item [disabled]="row.isSend" (click)="send(row)">
                <mat-icon>send</mat-icon>
                <span>Remitir tramite </span>
              </button>
              <button mat-menu-item (click)="generateRouteMap(row)">
                <mat-icon>feed</mat-icon>
                <span>Hoja de ruta</span>
              </button>
            </mat-menu>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell p-3" colspan="4">No se encontraron resultados</td>
        </tr>
      </table>
    </div>
   
  </div>
</div>
