<mat-toolbar>
  <span>Externos</span>
  <span class="flex-1"></span>
  <button mat-icon-button (click)="create()" matTooltip="Crear tramite">
    <mat-icon>add</mat-icon>
  </button>
</mat-toolbar>

<div class="mat-elevation-z8 px-2 sm:px-4">
  <div class="flex justify-end py-2">
    <div class="w-full sm:w-1/4 px-2 h-11">
      <search-input [initValue]="term()" (onSearch)="search($event)" placeholder="Alterno / Referencia"/>
    </div>
  </div>
  <div class="table-container">
    <table mat-table [dataSource]="datasource()">
      <ng-container matColumnDef="send">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element" class="w-8">
          @if(element.isActionable){
          <mat-icon style="color: orangered">mark_email_unread</mat-icon>
          } @else {
          <mat-icon style="color: green">mark_email_read</mat-icon>
          }
        </td>
      </ng-container>
      <ng-container matColumnDef="code">
        <th mat-header-cell *matHeaderCellDef>Alterno</th>
        <td mat-cell *matCellDef="let row" [id]="row._id" class="sm:w-[200px]">
          <a
            [routerLink]="['../external', 'detail', row._id]"
            class="text-blue-500"
          >
            {{ row.code }}
          </a>
        </td>
      </ng-container>
      <ng-container matColumnDef="reference">
        <th mat-header-cell *matHeaderCellDef>Referencia</th>
        <td mat-cell *matCellDef="let row" class="sm:max-w-72">
          <p class="truncate">{{ row.reference }}</p>
        </td>
      </ng-container>
      <ng-container matColumnDef="applicant">
        <th mat-header-cell *matHeaderCellDef>Solicitante</th>
        <td mat-cell *matCellDef="let row">
          {{ row.fullnameApplicant | titlecase }}
        </td>
      </ng-container>
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef>Fecha</th>
        <td mat-cell *matCellDef="let row">
          {{ row.createdAt | date : "shortDate" : "-400" }}
        </td>
      </ng-container>
      <ng-container matColumnDef="options">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row" class="w-8">
          <button
            mat-icon-button
            [matMenuTriggerFor]="menu"
            aria-label="Options menu"
          >
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button
              mat-menu-item
              [disabled]="!row.isActionable"
              (click)="update(row)"
            >
              <mat-icon>edit</mat-icon>
              <span>Editar</span>
            </button>
            <button
              mat-menu-item
              [disabled]="!row.isActionable"
              (click)="send(row)"
            >
              <mat-icon>send</mat-icon>
              <span>Remitir </span>
            </button>
            <button mat-menu-item (click)="generateRouteMap(row)">
              <mat-icon>feed</mat-icon>
              <span>Hoja de ruta</span>
            </button>
          </mat-menu>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell p-2" colspan="6">Sin resultados</td>
      </tr>
    </table>
    <mat-paginator
      aria-label="Select page of officers search results"
      showFirstLastButtons
      [pageSize]="10"
      [pageIndex]="index()"
      [length]="datasize()"
      (page)="onPageChange($event)"
    />
  </div>
</div>
