<div class="animate-fadeIn">
  <mat-toolbar>
    <span>Internos</span>
    <span class="flex-1"></span>
    <button mat-icon-button (click)="create()">
      <mat-icon>add</mat-icon>
    </button>
  </mat-toolbar>

  <div class="flex justify-end py-2">
    <div class="w-full px-2 sm:w-1/4 h-11">
      <search-input
        [initValue]="term()"
        (onSearch)="search($event)"
        placeholder="Alterno / Referencia"
      />
    </div>
  </div>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="datasource()">
      <ng-container matColumnDef="code">
        <th mat-header-cell *matHeaderCellDef>Alterno</th>
        <td mat-cell *matCellDef="let element" [id]="element._id">
          <a [routerLink]="['../internal', element._id]">
            {{ element.code }}
          </a>
        </td>
      </ng-container>
      <ng-container matColumnDef="reference">
        <th mat-header-cell *matHeaderCellDef>Referencia</th>
        <td mat-cell *matCellDef="let element">
          {{ element.reference }}
        </td>
      </ng-container>
      <ng-container matColumnDef="applicant">
        <th mat-header-cell *matHeaderCellDef>Destinatario</th>
        <td mat-cell *matCellDef="let element">
          {{ element.receiver.fullname | titlecase }}
        </td>
      </ng-container>
      <ng-container matColumnDef="state">
        <th mat-header-cell *matHeaderCellDef>Estado</th>
        <td mat-cell *matCellDef="let element">
          {{ element.state }}
        </td>
      </ng-container>
      <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef>Fecha</th>
        <td mat-cell *matCellDef="let element">
          {{ element.createdAt | date : "short" }}
        </td>
      </ng-container>
      <ng-container matColumnDef="options">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row" class="w-8">
          <button
            mat-icon-button
            aria-label="menu options"
            [matMenuTriggerFor]="menu"
          >
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button
              mat-menu-item
              [disabled]="!row.isEnable"
              (click)="update(row)"
            >
              <mat-icon>edit</mat-icon>
              <span>Editar</span>
            </button>
            <button
              mat-menu-item
              [disabled]="!row.isEnable"
              (click)="send(row)"
            >
              <mat-icon>send</mat-icon>
              <span>Remitir</span>
            </button>
            <button mat-menu-item (click)="generateRouteMap(row)">
              <mat-icon>feed</mat-icon>
              <span>Hoja de ruta</span>
            </button>
            <button mat-menu-item (click)="generateTemplate()">
              <mat-icon>feed</mat-icon>
              <span>Plantilla</span>
            </button>
          </mat-menu>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="p-3" colspan="6">Sin resultados resultados</td>
      </tr>
    </table>
    <mat-paginator
      aria-label="Select page of officers search results"
      showFirstLastButtons
      [length]="datasize()"
      [pageIndex]="index()"
      [pageSize]="10"
      (page)="onPageChange($event)"
    />
  </div>
</div>
