@use "./theme.scss";
@use "@angular/material" as mat;
@import "ngx-toastr/toastr";

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  .overlay {
    background: var(--mat-sys-surface-container-low);
    box-shadow: var(--mat-sys-level2);
    color: var(--mat-sys-on-surface);
    border-radius: 8px;
  }
}

body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}

:root {
  @include mat.table-overrides(
    (
      row-item-label-text-size: 12px,
    )
  );
}

mat-form-field {
  width: 100%;
}

.mdc-notched-outline__notch {
  border-right: none;
}
