@use "@angular/material" as mat;
@import "ngx-toastr/toastr";

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  color-scheme: light;
  @include mat.theme(
    (
      color: mat.$azure-palette,
      typography: Roboto,
      density: -1,
    )
  );
  .tonal{
    background-color: var(--mat-sys-primary);
  }
}

body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}
.overlay {
  background: var(--mat-sys-surface-container-low);
  box-shadow: var(--mat-sys-level2);
  color: var(--mat-sys-on-surface);
  border-radius: 8px;
}

:root {
  @include mat.table-overrides(
    (
      row-item-label-text-size: 12px,
      // row-item-container-height: 30px,
    )
  );
}



mat-form-field {
  width: 100%;
}

.mdc-notched-outline__notch {
  border-right: none;
}
